<!DOCTYPE html>
<title>Home</title>
<html>
    <style>
        .btn{
            display: inline-block; /* Строчно-блочный элемент */
            background: #8C959D; /* Серый цвет фона */
            color: #fff; /* Белый цвет текста */
            padding: 1rem 1.5rem; /* Поля вокруг текста */
            text-decoration: none; /* Убираем подчёркивание */
            border-radius: 3px;
        }
    </style>
    <form name="form1" method="post" action="CheckingClient">
        <input name="login" id="1">
        <input name="password" id="2">
        <input class="btn" type="submit">autorization</button>
    </form>
</html>